* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.wrapper {
    width: 100%;

}

.container {
    width: 100%;
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER - START */

.header {

    box-shadow: rgba(59, 58, 58, 0.2) 0px 12px 28px 0px,
        rgba(63, 63, 63, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.header-logo {
    width: 150px;
    height: 130px;

}

.header-logo img {
    width: 100%;
    height: 100%;

}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-nav {   
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-nav__link {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(24, 24, 25);
    transition: all 0.3s ease;
}

.header-nav__link-1 {
    font-size: 24px;
    font-weight: 700;

    text-decoration: none;
    color: rgb(19, 19, 187);
    transition: all 0.3s ease;
}


.header-nav__link:hover {
    color: rgb(57, 57, 169);
}

.header-nav__link-1:hover {
    color: rgb(19, 19, 187);
}

.header-menu {
    display: none;
}

.header-nav__link {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(24, 24, 25);
    transition: all 0.3s ease;
}

.header-nav__link-1 {
    font-size: 24px;
    font-weight: 700;

    text-decoration: none;
    color: rgb(19, 19, 187);
    transition: all 0.3s ease;
}


.header-logo img{
    margin-top: 20px;
    width: 100px;
    height: 95px;
    border-radius: 50%;

}

/* HEADER - END */

/* BANNER - START */


.banner-left{
    width: 50%;
    height: 100%;
}

.banner-left__title{
        font-size: 2em;
        opacity: 0;
        animation: fadeIn 3s ease forwards;
        font-weight: 900;
        padding-top: 65px;
        padding-left: 20px;
        font-size: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title-1 {
    color: rgb(5, 5, 125);
}

.banner-left__subtitle{
    font-weight: 600;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 20px;
}

.banner-right__title{
    font-weight: 900;
    padding-left: 20px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display:flex;
    padding-bottom: 40px;
}

.banner-right{
    width: 50%;
    height: 100%;

}

.banner-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-right__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.icon-1 svg{
    width: 50px;
    height: 50px;
}



.icon-1:first-child{
    padding-left: 20px;
}

/* BANNER - END */

@media screen and (max-width:980px) {
    .header {
        box-shadow: none;
    }
}

@media screen and (max-width:720px) {
    .header-nav {
        display: none;
    }

    .header-menu {
        display: block;
    }

    .header-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .banner-row{
        display: flex;
        flex-direction: column;
    }

    .banner-left{
        width: 100%;
        height: 100%;
    }
    .banner-left__title{
        text-align: center;
        font-size: 1.9em;
    }

    .banner-left__subtitle{
        text-align: center;
        font-size: 16px;
    }

    .banner-right{
        width: 100%;
        height: 100%;
    }
}